#root {
  width: 100%;
  overflow: hidden;

}

/* Default (desktop) */
.page-content {
  padding-top: 100px; /* matches ~desktop navbar height */
}

/* Tablet (≤768px) */
@media (max-width: 768px) {
  .page-content {
    padding-top: 80px; /* smaller since logo is 50px */
  }
}

/* Mobile (≤480px) */
@media (max-width: 480px) {
  .page-content {
    padding-top: 70px; /* smaller since logo is 40px */
  }
}
